<!doctype html>
<html ng-app="directives">
<head>
  <meta charset="utf-8">
  <title>AngularJS Book - Chapter 9 - 01 Button Directive</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="directive.js"></script>
</head>
<body ng-init="currentPage=3; numPages=5; selectCount=0">
  <pagination num-pages="numPages" current-page="currentPage" on-select-page="selectCount=selectCount+1"></pagination>
  <div>Number of Pages: <input ng-model="numPages" type="number"></div>
  <div>Current Page: <input ng-model="currentPage"  type="number"></div>
  <div>Count of Page Selections: {{selectCount}}</div>
</body>
</html>