<!doctype html>
<html ng-app="myApp" >
<head>
  <meta charset="utf-8">
  <title>Chapter 8 - submit with ng-click</title>
  <script>document.write("<base href=\"" + document.location + "\" />");</script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="app.js"></script>
</head>
<body ng-controller="MainCtrl">
  <form>
    <input ng-model="q">
    <button ng-click="alert(q)">Search</button>
  </form>
</body>
</html>