<!doctype html>
<html ng-app >
<head>
  <meta charset="utf-8">
  <title>Chapter 8 - radio input directives</title>
  <script>document.write("<base href=\"" + document.location + "\" />");</script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
  <h1>User Info</h1>
  <label>Sex</label>
  <label class="radio"><input type="radio" ng-model="user.sex" value="male"> Male</label>
  <label class="radio"><input type="radio" ng-model="user.sex" value="female"> Female</label>
  
  <pre ng-bind="user | json"></pre>
</body>
</html>