<!doctype html>
<html ng-app="directives.validate-equals">
<head>
  <meta charset="utf-8">
  <title>AngularJS Book - Chapter 9 - validateEquals Directive</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="validate-equals.js"></script>
</head>
<body>
  <form name="passwordForm">
    <label>Password</label>
    <input class="span6" type="password" name="password" ng-model="user.password" required>
    <span ng-show="passwordForm['password'].$error['required']" class="help-inline">This field is required.</span>
    <span ng-show="passwordForm['passwordRepeat'].$error['equal']" class="help-inline">Passwords do not match.</span>
    <label>Password (repeat)</label>
    <input class="span6" type="password" name="passwordRepeat" ng-model="password" required validate-equals="user.password">
    <span ng-show="passwordForm['passwordRepeat'].$error['required']" class="help-inline">This field is required.</span>
    <span ng-show="passwordForm['passwordRepeat'].$error['equal']" class="help-inline">Passwords do not match.</span>
  </form>
</body>
</html>