<!doctype html>
<html ng-app="field-directive">
<head>
  <meta charset="utf-8">
  <title>AngularJS Book - Chapter 10 - field Directive</title>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="../../lib/angular/1.0.4/angular.js"></script>
  <script src="field-directive.js"></script>
  <script src="template/text.html.js"></script>
  <script src="template/textarea.html.js"></script>
  <script src="template/number.html.js"></script>
</head>
<body ng-init="myModel = {}">
  <form name="form" class="form-inline" novalidate ng-init="x=10">
    <field ng-model="myModel.myNumber" type="number" label="My Number"></field>
    {{ myModel.myNumber }}
    
    <field ng-model="myModel.myText" type="text" label="My Text" required="true">
      <validator key="required">My Text is required</validator>
    </field>
    {{ myModel.myText }}

    <field ng-model="myModel.myBigText" type="textarea" label="My Big Text" ng-maxlength="{{x}}">
      <validator key="maxlength">My Big Text must be less than {{x}}</validator>
    </field>
    {{ myModel.myBigText }}
  </form>
</body>
</html>