<!doctype html>
<html ng-app="field-directive">
<head>
  <meta charset="utf-8">
  <title>AngularJS Book - Chapter 10 - field Directive</title>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="../../lib/angular/1.0.4/angular.js"></script>
  
  <!-- Load the field directive -->
  <script src="directive.js"></script>

  <!-- Load up the templates -->
  <script src="template/input.html.js"></script>
  <script src="template/textarea.html.js"></script>
  <script src="template/select.html.js"></script>
</head>
<body ng-init="myModel = {}">
  <form name="form" class="form-inline" novalidate>
    <field ng-model="myModel.myNumber" type="number" >
      <label>Labels which can <span ng-repeat="i in [0,1]">{{i}}</span> contain directives</label>
    </field>

    <field ng-model="myModel.myText" type="text" label="My {{'Text'}}" required="true">
      <validator key="required">My Text is required</validator>
    </field>

    <field ng-model="myModel.myBigText" template="textarea.html" label="My Big Text" ng-maxlength="5" ng-minlength="2" required="true">
      <validator key="maxlength">My Big Text must be less than 5</validator>
      <validator key="minlength">My Big Text must be greater than 2</validator>
      <validator key="required">My Big Text must be greater than 2</validator>
    </field>

    <field ng-model="myModel.choice" template="select.html" label="Choose something" ng-options="x for x in ['A','B', 'C']"></field>

    <pre>{{myModel | json}}</pre>
  </form>
</body>
</html>