<!doctype html>
<html ng-app="field-directive">
<head>
  <meta charset="utf-8">
  <title>AngularJS Book - Chapter 10 - field Directive</title>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="../../lib/angular/1.0.4/angular.js"></script>
  <script src="field-directive.js"></script>
  <script src="template/text.html.js"></script>
  <script src="template/number.html.js"></script>
</head>
<body ng-init="myModel = {}">
  <form name="form" class="form-inline" ng-init="x = 3" novalidate>
    <button ng-click="x=5">X</button>
    <field ng-model="myModel.myNumber" type="number" label="My Number">
      <validator key="number">Please enter a valid number</validator>
    </field> {{ myModel.myNumber }}
    <field ng-model="myModel.myText" type="text" label="My Text">
      <validator key="required" options="{required: true}">My Text is {{ x }} required</validator>
    </field> {{ myModel.myText }}
  </form>
</body>
</html>