<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <title>AngularJS Book - Chapter 10 - Alert Directive</title>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="../../lib/angular/1.0.4/angular.js"></script>
  <script src="directive.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div ng-controller="AlertController" class="well">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <button class='btn' ng-click="addAlert()">Add Alert</button>
  </div>
</body>
</html>